{% block body %}
    <h1>List des membres</h1>

{% for key, value in list %}
    <p>
        <a href="{{ url('detailsmembers',{ 'id' : key}) }}">{{ value.nom }}</a>
    </p>
{% endfor %}
{% endblock %}